<%= render "layouts/navlink"%>
<p id="notice"><%= notice %></p>
<div class="table">
	<table class ="dataTable">

		<thead>
		    <tr>
		      <th>Name</th>
		      <th>Phone Number</th>
		      <th>Stock</th>
		      <th>Region</th>
		      <th><%= link_to 'Add New Product', new_product_path, class: "btn btn-green", style: "color:white"%></th>
		    </tr>
		  </thead>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Phone Nuber:</strong>
  <%= @user.phone_number %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>
</table>
</div>	
<%= link_to 'Back', users_path %>
