<%= render "layouts/navlink" %>
<div class="login d-flex justify-content-center">
  <!-- Material form login -->
  <div class="card">

    <h5 class="card-header info-color white-text text-center py-3">
      <strong>Sign In</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">
      <!-- Form -->
      <form class="text-center" style="color: #757575;">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
            <div class="md-form">
              <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Email"%>
            </div>

            <div class="md-form">
              <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password"%>
            </div>

            <% if devise_mapping.rememberable? %>
              <fieldset data-role="fieldcontain" class="field form-check">
                
                  <%= f.check_box :remember_me%> 
                  <%= f.label :remember_me%>
          
              </fieldset>
            <% end %>

           <div class="actions">
            <%= f.submit "Login", class: 'btn btn-sm btn-info' %>
          </div>

          <% end %>
          <div><%= render "devise/shared/links" %></div>
        </div>
      </form>
    </div>
  </div>
</div>